.single-package {
    display: grid;
    grid-template-columns: repeat(3 1fr);
}

.image-sizing{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 0 auto;
}

.button-style {
    width: 130px;
    padding: 7px;
    background-color: #c71b9c;
    border: none;
    color:white;
    transition: 0.5s all
}

.button-style:hover{
    transform: translate(20px);
    border: violet;
    background: tomato;
}