.title {
    font-family: 'sen', sans-serif;
    letter-spacing: 10px;
    color: rgb(226, 226, 226);
}

.title-2 {
    font-size: 35px;
    text-transform: uppercase;
    margin-right: 180px;
    text-align:center;
    margin-left:170px;
    color: rgb(226, 226, 226);
    font-family: 'Sen', sans-serif;
}

.title-3 {
    font-size: 50px;
    margin-right: 180px;
    text-align:center;
    margin-left:170px;
    font-family: 'sen', sans-serif;
}

.button {
    padding: 10px;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'sen', sans-serif;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s all ease;
}

.button:hover {
    background-color: white;
}

.right-btn {
    background: rgb(199, 27, 156);
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-family: 'sen', sans-serif;
    font-size: 18px;
    color: white;
    transition: 0.5s all;
}

.right-btn:hover{
    background: white;
    color: rgb(199, 27, 156);

}

button a {
    color:white;
    text-decoration: none;
}

button:hover a {
    color:black;
}

.typical {
    font-size: 55px;   
}
