.title {
    letter-spacing: 10px;
    color: rgb(226, 226, 226);
}

.title-2 {
    text-transform: uppercase;
    margin-right: 180px;
    text-align:center;
    margin-left:170px;
    color: rgb(226, 226, 226);
}

.title-3 {
    font-size: 50px;
    margin-right: 180px;
    text-align:center;
    margin-left:170px;
}

.left-button {
    padding: 10px;
    background: none;
    border: 2px solid white;
    border-radius: 50px;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s all ease;
}

.left-button:hover {
    background-color: white;
}

.left-button a {
    text-decoration: none;
    color: white;
}

.left-button:hover a {
    color: black;
}

.right-btn {
    background: none;
    padding: 10px;
    border: 2px solid rgb(199, 27, 156);;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s all;
}

.right-btn a {
    text-decoration: none;
    color: rgb(199, 27, 156);;
}

.right-btn:hover a {
    color: white;
}

.right-btn:hover{
    background: rgb(199, 27, 156);;
    color: white;
}

.typical {
    font-size: 55px;   
}

@media (max-width: 992px) {
    .typical {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .typical {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .left-button {
        display: block;
    }
}
