.sidebar {
   background: teal;
   width: 100%;
   transition: 0.4s all
}

.sidebar li {
   margin-bottom: 1em;
   transition: 0.6s all;
   
}

.sidebar li:hover {
   margin-left: 30px;
}
.sidebar svg {
   margin-right: 5px;
}
