.normal-text-color {
    color: rgb(204, 201, 201);
}

.normal-paragraph-color {
    color: rgb(177, 177, 177);
}

.footer-background{
    background: rgb(37, 37, 37)
}

.image-size {
    width: 60px;
}